<!DOCTYPE html>
<html>
    <head>
        <title>Roles List</title>
    </head>
    <body>
        <h1>Roles List</h1>
        <table>
            <tr>
              <th>Role Name</th>
              <th>Location</th>
              <th>Capability</th>
              <th>Band</th>
              <th>Closing Date</th>
            </tr>
            {% for role in roles %}
            <tr>
                <td>{{role.roleName}}</td>
                <td>{{role.location}}</td>
                <td>{{role.capability}}</td>
                <td>{{role.band}}</td>
                <td>{{role.closingDate}}</td>
              </tr>
            {% endfor %}
          </table>
    </body>
</html>